{% extends '../baset.html' %}
{% block title %} 
New Orders
{% endblock %}
{% block orders %} 
active
{% endblock %}
{% block content %}
<div class="text-center">

    <div class="card w-50 text-center">
        <div class="card-body h2">
            طلبات جديدة 
        </div>
    </div>
    </div>
    {% if orders %}
      <table class="table table-hover  table-responsive-md text-center" dir="rtl">
        <thead>
          <tr>
            <th>رقم الطلب</th>
            <th>الطاولة</th>
            <th>السعر الكلي </th>
            <th> تاريخ الإنشاء</th>
            <th>الحدث</th>
    
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          
             <tr>
              <td>{{ order.id }}</td>
              <td>{{ order.table }}</td>
              <td>{{ order.get_total_price }}</td>
              <td>{{ order.created_at }}</td>
              <td><a
                class="btn btn-primary btn-sm"
                href="{% url "dashboard_order_details" order.id %}"
                role="button"
                >تفاصيل</a
              >
              </td>
            
            </tr>
          
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No orders found.</p>
      {% endif %}
{% endblock %}
